.errors {
  color: red;
}

span a {
  color: #e8a87c;
}
span a:hover {
  color: white;
}

a {
  text-decoration: none;
}

.loginContainer {
  background: #012b4d;
}

input {
  border-radius: 8px;
  padding: 0.75%;
  margin: 1%;
  width: 75%;
  outline: none;
  color: black;
  background: #d8d9d1;
}

input:focus {
  border: 5px solid #e8a87c;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  width: 25%;
  padding: 1%;
  border: 2px solid #41b3a3;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1%;
}

button:hover {
  background: #41b3a3;
  color: white;
}

.noAccountDiv {
  margin: 1% 0%;
  color: white;
}

.headerForms {
  color: #e8a87c;
}
