header {
  background: #012b4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 2%;
  font-family: "Raleway", sans-serif;
}

header nav {
  border: 0px solid red;
  margin-right: 2%;
  width: 200px;

  display: flex;
  justify-content: space-around;
}

header nav a {
  text-decoration: none;
  background: #41b3a3;
  width: 25%;
  padding: 2%;
  font-family: "Raleway", sans-serif;
}

header nav a:hover {
  color: #e8a87c;
}
